<% include partials/header %>
        <div class="ui main text container segment">
            <div class="ui huge header">Sorry, No Files were uploaded or Your Upload has failed.</br>Please check again and Retry.</div>
            <a href="/upload" class="ui violet big basic button">Back</a>
        </div>   
<% include partials/footer %>